<!DOCTYPE html>
<html>
  <head>
    <title>Vite ⚡️ Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>

    <%= vite_typescript_tag 'application', 'data-turbo-track': 'reload', media: 'all' %>
  </head>

  <body>
    <div id="root"></div>
    <%= vite_legacy_typescript_tag 'application' %>
  </body>
</html>
